/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/resources/js/config.js
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
#/public/css/app.css
#/public/js/app.js
package-lock.json
composer.lock
public/mix-manifest.json
/storage/boletas/
/storage/fonts/
/storage/users/
/storage/altas_bajas